.home{
  &__smartwizard{
    border: none;
  }
  &__nav{

    .nav-link{
      padding: 0 !important;
      &:after{
        display: none;
      }
    }
  }
  &__item5{
    &:nth-child(n+2){
      margin-top: 5px;
    }
  }
  &__section{
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
      max-width: 896px;
    }
  }
  &__box1{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    @extend .fz-21;
    color: #000;
    font-family: $font-Roboto-Black;
  }
  &__box2{
    margin-bottom: 20px;
    @extend .fz-18;
    color: #000;
  }
  &__step{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-shadow: none !important;
    @include media-breakpoint-down('s'){
      display: none;
    }
    &__li{
      display: flex !important;
      align-items: center;
      flex-grow: initial !important;
      &:nth-child(n+2){
        &:before{
          content: "";
          width: 20px;
          height: 20px;
          display: flex;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='8 5 13 10 8 15'%3E%3C/polygon%3E%3C/svg%3E");

        }
      }
    }
    &__txt1{

    }
    &__txt2{

    }
    &__box{
      border: thin solid #DBDBDB;
      height: 100px;
      border-radius: 12px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .fz-16;
      font-family: $font-Roboto-Bold;
      color: rgba(0, 0, 0, 0.54);
      .active> &{
        color: #FFFFFF;
        background-color: #D3D3D3;
      }
    }
  }
  &__box3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    img{
      width: 100px;
    }
    span{
      @extend .fz-16;
      color: #000;
    }
    &__txt1{
      @extend .fz-16;
      color: #000;
      font-family: $font-Roboto-Medium;
    }
    &__txt2{
      @extend .fz-14;
      color: #000;
      position: relative;
      padding-left: 20px;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='currentColor' fill='currentColor' class='MuiSvgIcon-root' focusable='false' viewBox='0 0 24 24' aria-hidden='true' height='1em' width='1em'%3E%3Cpath d='M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    >*{
      &:nth-child(n+2){
        margin-left: 20px;
      }
    }
  }
  &__box4{
    min-height: 200px;
  }
  &__btn{
    border-radius: 100px;
    max-width: 357px;
    width: 100%;
    background-color: #EDEDED;
    border-color: #EDEDED;
    &:hover{
      background-color: rgba(0, 0, 0, 0.04);
      border-color: rgba(0, 0, 0, 0.04);
    }
  }
  &__forminput{
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
  }
  &__title{
    @extend .fz-16;
    font-family: $font-Roboto-Bold;
    color: #000;
  }
  &__box5{
    border-bottom: 1px dotted #CCCCCC;
    color: #FF0000;
    @extend .fz-12;
    padding: 5px 0;
  }
  &__box6{
    margin-bottom: 40px;
    margin-top: 40px;
  }
}